* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("assets/bank.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.credit{
    font-family: 'Press Start 2P';
    font-size: 15px;
    text-align: center;
    background-color: rgb(237, 220, 136);
    margin-bottom: 30px;
    word-spacing: 2px;
    line-height: 17px;
}

.btn-start {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P';
    font-size: 50px;
    background-color: rgb(237, 220, 136);
    width: 200px;
    padding: 1rem 0;
    font-size: 1.75rem;
    letter-spacing: .025em;
    border: 2px solid rgb(1, 57, 10);
}

.btn-setting {
    float: right;
    font-family: 'Press Start 2P';
    padding: 12px;
    margin: 10px;
    background-color: rgb(237, 220, 136);

}

.btn-setting:hover {
    transform: scale(1.1);
}


.btn-start:hover {
    transform: scale(1.1);
}

.btn-mute {
    font-family: 'Press Start 2P';
    margin-top: 20px;
    background-color: gray;
    /* width: 30%; */
    padding: .5rem .5rem;
    font-size: 1.25rem;
    letter-spacing: .025em;
}

.title {
    margin-bottom: 15px;
}

.credit {
    display: inline-block;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-family: 'Press Start 2P';

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.robber {
    background: url(assets/char_kanan.png);
    width: 107.5px;
    height: 140px;
    animation: walk 0.35s steps(4) infinite, forward 4s linear infinite;
}
.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

@keyframes walk {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 440px;
    }
}

@keyframes forward {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(1400px);
    }
}