.container {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.square {
  text-align: center;
  width: 40vw;
  height: 40vw;
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
}

.green {
  background-color: #ccff00;
  height: 11.1%;
  width: 11.1%;
  max-height: 100vw;
  max-width: 100vw;
  float: left;
  padding: 0;
  margin: auto;
}

button:hover{
  opacity: .2;
}

button:disabled {
  border-color: black;
  background-color: aqua;
}